<input [(ngModel)]="searchPokemonName">
<br>

<p>Mon pokemon sélectionner est : {{selectedPokemonID}}</p>
<br>
<select [(ngModel)]="selectedPokemonID">
  <option [value]="pokemon.id" *ngFor="let pokemon of tabPokemon | filterPokemonPipe:'name':searchPokemonName">
    {{pokemon.name}}</option>
</select>

<button (click)="go()">GO!</button>
<br>

<div *ngIf="pokemonDetails">

  <app-pokedetail [detail]='pokemonDetails'></app-pokedetail>

</div>

<p-calendar [(ngModel)]="myDate"></p-calendar>
